# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache

# Logs and databases
*.log
*.sqlite
*.db

# Environment variables
.env

# Compiled Python files
*.pyc

# Python virtual environment
venv/

/.vscode